<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <title>Lista de ramais</title>
</head>
<body>
    <div class="container">
        <div class="col-md-12 mt-2"  style="text-align: right;">
          <a href="/login" class="btn btn-primary" style="background-color:#2d7788 ;">Acessar painel administrativo</a>
        </div> 
        <div class="col-md-12 mt-2" style="background-color: #007bff;height: 50px;">
            <h3 style="text-align: center; color:#fff;  padding-top: 0.5rem;">Pesquise o ramal desejado...</h3>             
        </div>

        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped" id="table">
                    <thead>
                      <tr>
                        <th scope="col">Departamento</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Ramal</th>
                      </tr>
                      <tr>
                        <th><input type="text" id="txtColuna1"/></th>
                        <th><input type="text" id="txtColuna2"/></th>
                        <th><input type="text" id="txtColuna3"/></th>
                    </tr> 
                    </thead>
                    <tbody>
                      <tr>
                        <td style="color:#007bff"><b></b></th>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<script>
    $(function(){
	$("#table input").keyup(function(){		

		var index = $(this).parent().index();
		var nth = "#table td:nth-child("+(index+1).toString()+")";
		var valor = $(this).val().toUpperCase();
		$("#table tbody tr").show();
		$(nth).each(function(){
			if($(this).text().toUpperCase().indexOf(valor) < 0){
				$(this).parent().hide();
			}
		});
	});

	$("#table input").blur(function(){
		$(this).val("");
	});	
});
</script>
</html>